@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --background: #2f303a;
  --title: #212121;
  --button: #f5f4fa;
  --footer-meltel: rgba(255, 255, 255, 0.6);
  --button-inactive: #188ce8;
  --icons: #afb1b8;
  --icons-foot: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}

/* колір основного тексту #212121 */
/* другорядний колір тексту #757575*/
/* акцент #2196F3 */
/* #FFFFFF білий */
/* #2F303A другорядний */
/*  */
body {
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  /* overflow-x: hidden; */
}

.web {
  color: var(--accent-color);
}

input,
textarea {
  outline: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.title {
  margin-bottom: 30px;
  color: var(--title);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heromobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heromobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herotablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herodesktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herodesktop.jpg);
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__nav,
.header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__mobileopen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--white);
}
.header__menu-button:hover .header__icon-menu {
  fill: var(--accent-color);
}
.header__menu-button:focus .header__icon-menu {
  fill: var(--accent-color);
}
.header__menu-button:hover .header__icon-cross {
  fill: var(--accent-color);
}
.header__menu-button:focus .header__icon-cross {
  fill: var(--accent-color);
}
@media (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__icon-menu,
.header__icon-cross {
  -webkit-transition: fill var(--transition-timing-function);
  transition: fill var(--transition-timing-function);
}

.menu-container {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white);
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu-container .header__menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--black);
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.header__logo {
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .header__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

/* .site-nav li{
    outline: 2px solid tomato;
} */
.header__items:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header__items:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header__items:last-child {
  margin-bottom: 306px;
}
@media screen and (min-width: 768px) {
  .header__items:last-child {
    margin-bottom: 0;
  }
}

.header__link {
  position: relative;
  display: block;
  color: var(--title);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header__link::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }
  .header__link--current.header__link::after {
    opacity: 1;
  }
  .header__link--current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: 90px;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
    padding: 32px 0;
  }
}

.header__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__item:last-child {
    margin-bottom: 64px;
  }
}

.header__meltel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header__meltel:hover, .header__meltel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header__meltel {
    color: var(--primary-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .header__meltel {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .header__mel {
    color: var(--primary-text-color);
    font-size: 24px;
    line-height: 1.17;
  }
}

/* .link:hover::after,
.link:focus::after{
    opacity: 1;
} */
.header__icons {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .header__icons {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__icons {
    margin-right: 10px;
  }
}

.header__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.header__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.header__socials-item {
  position: relative;
}
.header__socials-item:not(:last-child) {
  margin-right: 20px;
}
.header__socials-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  left: 100%;
  bottom: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main__hero {
  background-color: var(--background);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .main__hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main__title {
  color: var(--white);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6;
}
@media screen and (min-width: 1200px) {
  .main__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.main__button {
  display: inline-block;
  border-radius: 4px;
  border: var(--accent-color);
  padding: 10px 24px;
  min-width: 200px;
  color: var(--white);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.main__button:hover, .main__button:focus {
  background-color: var(--button-inactive);
}
@media screen and (min-width: 1200px) {
  .main__button {
    padding: 10px 32px;
    min-width: 216px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(3), .features__item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

.features__boxes {
  background-color: var(--button);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item-title {
  margin-bottom: 10px;
  color: var(--title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .features__item-title {
    text-align: left;
  }
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .features__description {
    margin-bottom: 0;
  }
}

.offer {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .offer {
    display: none;
  }
}

.offer__picture {
  position: relative;
}
.offer__picture:not(:last-child) {
  margin-right: 30px;
}

.offer__image {
  display: block;
}

.offer__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid tomato; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  /* opacity: 0;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1); */
}

.team {
  background-color: var(--button);
}

.team__name {
  margin-bottom: 10px;
  color: var(--title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__picture {
  display: block;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__picture {
    width: 270px;
  }
}

.team__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team__workers:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team__workers:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__workers:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__workers:nth-child(1), .team__workers:nth-child(2) {
    margin-bottom: 30px;
  }
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  /* outline: 1px solid teal; */
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid black; */
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.team__link:hover {
  background-color: var(--accent-color);
}
.team__link:focus {
  background-color: var(--accent-color);
}

.team__social-networks {
  fill: var(--icons);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  /* outline: 1px solid tomato; */
}
.team__link:focus .team__social-networks {
  fill: var(--white);
}
.team__link:hover .team__social-networks {
  fill: var(--white);
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__description {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .companies__li:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .companies__li:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .companies__li:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .companies__li:nth-child(-n+2), .companies__li:nth-child(5), .companies__li:nth-child(4) {
    margin-right: 30px;
  }
}

.companies__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icons);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  /* outline: 2px solid black; */
}
.companies__link:hover, .companies__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .companies__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .companies__link {
    width: 170px;
  }
}

.companies__icon {
  fill: currentColor;
  /* outline: 1px solid teal; */
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background);
}
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__firstdiv {
    margin-left: 76px;
  }
}

.footer__address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__map-link {
  color: var(--white);
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer__map-link:hover, .footer__map-link:focus {
  color: var(--accent-color);
}

.footer__meltel {
  color: var(--footer-meltel);
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer__meltel:hover, .footer__meltel:focus {
  color: var(--accent-color);
}

.footer__map:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__map:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__join {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__join {
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 70px;
  }
}

.footer__join-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  /* outline: 1px solid teal; */
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socialicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* outline: 2px solid white; */
  background-color: var(--icons-foot);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer__socialicon:hover, .footer__socialicon:focus {
  background-color: var(--accent-color);
}

/* .footer__socialicon:focus {
  background-color: var(--accent-color);
} */
.footer__socialnetworks {
  fill: var(--white);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid tomato; */
}
.footer__socialicon:focus .footer__socialnetworks {
  fill: var(--white);
}
.footer__socialicon:hover .footer__socialnetworks {
  fill: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mailing-list {
    margin: auto;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mailing-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15.2px 16px;
  background: var(--background);
  margin-bottom: 20px;
}
.footer__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__submit-but {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 50px;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer__submit-but:hover, .footer__submit-but:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .footer__submit-but {
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 12px;
  }
}

.footer__submit-icon {
  fill: var(--white);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal__cross {
  /* fill: #000000;
    outline: 2px solid tomato; */
}

.modal__button {
  position: absolute;
  color: #000000;
  top: 8px;
  right: 8px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* outline: 2px solid teal; */
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__parent-form-field {
  width: 100%;
}

.modal__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* outline: 2px solid tomato; */
  width: 100%;
}
.modal__form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal__form-field:last-child {
  margin-bottom: 20px;
}

.modal__input {
  margin: 0;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal__input:focus, .modal__input:hover {
  border: 1px solid var(--accent-color);
}

.modal__input-modal {
  position: relative;
}

.modal__text-area {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal__text-area::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area:focus, .modal__text-area:hover {
  border: 1px solid var(--accent-color);
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__icons {
  /* display: inline-block; */
  position: absolute;
  fill: #000000;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__input-modal:focus-within > .modal__icons, .modal__input-modal:hover > .modal__icons {
  fill: var(--accent-color);
}

.modal__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal__checkbox {
  margin: 0 auto 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__checkbox-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  fill: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.modal__checkbox-input:checked + .modal__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--white);
}

.modal__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__text-area {
  resize: none;
}

.modal__submit-button {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}
.modal__submit-button:hover, .modal__submit-button:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */