.offer {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0;
}

.offer__picture {
  position: relative;
  &:not(:last-child) {
          margin-right: 30px;
      }
}

.offer__image {
  display: block;
}

.offer__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid tomato; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  /* opacity: 0;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1); */
}
