.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}

/* колір основного тексту #212121 */
/* другорядний колір тексту #757575*/
/* акцент #2196F3 */
/* #FFFFFF білий */
/* #2F303A другорядний */
/*  */

body {
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  /* overflow-x: hidden; */
}

.web {
  color: var(--accent-color);
}

input,
textarea {
  outline: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}


.title {
  margin-bottom: 30px;
  color: var(--title);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.2;
  }
}
